app-user-application-detail.ion-page ion-card-title.hydrated span{
	color: #ed502d;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

app-user-application-detail.ion-page ion-card-title.hydrated {
    color: #333;
    font-size: 15px;
    line-height: 26px;
}