<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

         <ion-buttons slot="end">
             <ion-back-button defaultHref="dashboard"></ion-back-button>
         </ion-buttons> 
        <ion-title>
            Refer-a-friend
        </ion-title>
    </ion-toolbar>
</ion-header> 

<ion-content padding>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>-Social Sharing-</ion-card-subtitle>
    <ion-card-title>Referal Code</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
  <ion-item>
    <ion-icon name="checkmark-circle-outline" style="height:20px;"></ion-icon>
    <ion-label>Your referal link is:- http://localhost:4200/sign-up?rc={{userId}}</ion-label> 
  </ion-item>
  <ion-item>
    <button class="submit-btn" expand="block">Share </button>
  </ion-item>

    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>
