<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
         <ion-back-button defaultHref="dashboard"></ion-back-button>
      </ion-buttons>
      <ion-title>
         Reset Password
      </ion-title>
   </ion-toolbar>
</ion-header>
<ion-content padding>
   <form [formGroup]="reset_pass" (submit)="reset()">
   <ion-row>
      <ion-col>
         <div class="ion-text-start">
         <ion-item>
            <ion-label style="color: #ed502d;" position="floating">Current Password</ion-label>
            <ion-input type="text" formControlName="cuPass"></ion-input>
         </ion-item>
         <div *ngIf="submitted && f.cuPass.errors" class="invalid-feedback" style="padding: 10px; left;">
            <span *ngIf="f.cuPass.errors.required" style=" text-align: left;color: red;">This field is required.
            </span> 

         </div>
        <div  class="ion-text-left" style="text-align: left;color: red;padding: 10px;" *ngIf="isError== true && errorsArr.password">{{errorsArr.password}}</div>  
      </div>
      </ion-col>
   </ion-row>
   <ion-row>
      <ion-col>
         <div class="ion-text-start">
         <ion-item>
            <ion-label style="color: #ed502d;" position="floating">New Password</ion-label>
            <ion-input type="text" formControlName="pwd"></ion-input>
         </ion-item>
         <div *ngIf="submitted && f.pwd.errors"  style="padding: 10px; left;">
            <span *ngIf="f.pwd.errors.required" style=" text-align: left;color: red;">This field is required.
            </span> 
           
             <span *ngIf="f.pwd.errors.minlength" style=" text-align: left;color: red;">Minimum length for password field is 6 .
             </span> 
         </div>
      </div>
      </ion-col>
   </ion-row>
   <ion-row>
      <ion-col>
         <div class="ion-text-start">
         <ion-item>
            <ion-label style="color: #ed502d;" position="floating">Confirm Password</ion-label>
            <ion-input type="text" formControlName="confPwd"></ion-input>
         </ion-item>
         <div *ngIf="submitted && f.confPwd.errors"  style="padding: 10px; left;">
            <span *ngIf="f.confPwd.errors.required" style=" text-align: left;color: red;">This field is required.
            </span> 
 <span *ngIf="f.confPwd.errors.minlength" style=" text-align: left;color: red;">Minimum length for password field is 6 .
             </span>          </div>
          <div *ngIf="submitted && f.confPwd.errors" class="invalid-feedback" style="padding: 10px; left;">
             <span *ngIf="f.confPwd.errors.mustMatch" style=" text-align: left;color: red;">Password confirm field must match with password.
             </span> 
          </div>
      </div>
      </ion-col>
   </ion-row>
   <ion-row>
      <ion-col>
         <div class="ion-text-start">
            <button class="submit-btn" expand="block" type="submit">Update
            </button>
         </div>
      </ion-col>
   </ion-row>
   </form>
</ion-content>