<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
         <ion-back-button defaultHref="dashboard"></ion-back-button>
      </ion-buttons>
      <ion-title>
         Add task
      </ion-title>
   </ion-toolbar>
</ion-header>
<ion-content [class.someClass]="applyClass">
   <form [formGroup]="team_form" (submit)="registerTeam(team_form.value)">
   <ion-row>
      <ion-col>
         <div class="ion-text-start">
            <ion-item>
               <ion-label style="color: #ed502d;" position="floating">Task name</ion-label>
               <ion-input type="text" formControlName="task_name" required></ion-input>
            </ion-item>
            <div *ngIf="submitted && f.task_name.errors" class="invalid-feedback" style="padding: 10px; left;">
               <span *ngIf="f.task_name.errors.required" style=" text-align: left;color: red;font-style:italic;font-size: 12px;">Title is required.
               </span>
                <span *ngIf="f.task_name.errors.pattern" style=" text-align: left;color: red;font-style:italic;font-size: 12px;">Task name is not valid.
               </span>
            </div>
         </div>
      </ion-col>
   </ion-row>
   <ion-row>
      <ion-col>
         <div class="ion-text-start">
            <ion-item>
               <ion-label  position="floating" style="color: #ed502d;">Select Group</ion-label>
               <ion-select  formControlName="team_id" (ionChange)="onTeamSelection($event.target.value)" value="Select Team"> 
                  <ion-select-option *ngFor="let teamList of teamListArr" [value]="teamList.teamId" selected>{{teamList.name}}</ion-select-option>
               </ion-select>
            </ion-item>
            <div *ngIf="submitted && f.team_id.errors" class="invalid-feedback" style="padding: 10px; left;">
               <span *ngIf="f.team_id.errors.required" style="text-align: left;color: red;font-style:italic;font-size: 12px;">This field is required.
               </span>
            </div>
         </div>
      </ion-col>
   </ion-row>
   <ion-row>
      <ion-col>
         <div class="ion-text-start">
            <ion-item>
               <ion-label style="color: #ed502d;" position="floating">Coliver</ion-label>
               <ion-select multiple="true" formControlName="assign_to" value="Select Users" okText="Okay" cancelText="Dismiss" required>
               <ion-select-option value="{{userId}}">Myself ({{nickname}})</ion-select-option>
                <ion-select-option *ngFor="let userList of usersArr" [value]="userList?.userId">
                      {{userList?.username}}
                  </ion-select-option>  
               </ion-select>
            </ion-item>
            <div *ngIf="submitted && f.assign_to.errors" class="invalid-feedback" style="padding: 10px; left;">
               <span *ngIf="f.assign_to.errors.required" style="text-align: left;color: red;font-style:italic;font-size: 12px;">This field is required.
               </span>
            </div>
         </div>
      </ion-col>
   </ion-row>
   <ion-row>
      <ion-col>
         <div class="ion-text-start">
            <ion-item>
               <ion-label style="color: #ed502d;" position="floating">Due date</ion-label>
               <ion-datetime formControlName="due_date"  displayFormat="YYYY-MM-DD" placeholder="Select Date" [max]="maxData" required></ion-datetime>
            </ion-item>
            <div *ngIf="submitted && f.due_date.errors" class="invalid-feedback" style="padding: 10px; left;">
               <span *ngIf="f.due_date.errors.required" style=" text-align: left;color: red;font-style:italic;font-size: 12px;">This field is required.
               </span>
            </div>
         </div>
      </ion-col>
   </ion-row>
   <ion-row>
      <ion-col>
         <div class="ion-text-start">
            <ion-item>
               <ion-label style="color: #ed502d;" position="floating">Please choose one</ion-label>
               <ion-select formControlName="category" value="Select User" okText="Okay" cancelText="Dismiss">
                  <ion-select-option *ngFor="let category of categoriesArr" [value]="category.category_id">{{category.name}}</ion-select-option>
               </ion-select>
            </ion-item>
            <!--  <div *ngIf="submitted && f.category.errors" class="invalid-feedback" style="padding: 10px; left;">
               <span *ngIf="f.category.errors.required" style="text-align: left;color: red;font-style:italic;font-size: 12px;">This field is required.
               </span>
               </div> -->
         </div>
      </ion-col>
   </ion-row>
   <ion-row>
      <ion-col>
         <div class="ion-text-start">
            <ion-item>
               <button slot="start" (click)="selectImage()" type="button" fill="clear" color="light" >
                  <ion-icon slot="start" name="camera"></ion-icon>
                  Upload photo (optional)
               </button>
            </ion-item>
            <ion-item *ngIf="image_url">
               <img   [src]="image_url" (click)="selectImage()" onError="src='https://dummyimage.com/600x400/000/fff'" class="profile-img"> 
            </ion-item>
         </div>
      </ion-col>
   </ion-row>
   <ion-row>
      <ion-col>
         <div class="ion-text-start">
            <ion-item>
               <ion-label style="color: #ed502d;" position="floating">Notes (optional)</ion-label>
               <ion-textarea rows="6"  type="text" formControlName="notes"></ion-textarea>
            </ion-item>
         </div>
      </ion-col>
   </ion-row>
   <ion-row>
      <ion-col>
         <div class="ion-text-start">
            <div *ngIf="isSuccess == true" >
               <span class="for-sub-name">{{sucessArr.message}}</span>
            </div>
         </div>
      </ion-col>
   </ion-row>
   <ion-row>
      <ion-col>
         <div class="ion-text-start">
            <button class="submit-btn" expand="block" type="submit">Add task
            </button>
         </div>
      </ion-col>
   </ion-row>
   </form>
</ion-content>