<ion-header>
 <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons> 
        <ion-buttons slot="end">
            <ion-back-button defaultHref="dashboard"></ion-back-button>
         </ion-buttons> 
        <ion-title>
            Properties-Detail
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
      <ion-card>
      <ion-card-content class="circle-pic" > 
         <img  [src]="image_url" onError="src='assets/images/user_dummy.png'" class="profile-img"> 
      </ion-card-content>
   </ion-card>
   <ion-card>
      <ion-card-content>
         <ion-list>
            <ion-item>
               <ion-label style="font-size:14px;">Status:</ion-label>
               <ion-buttons slot="end">
                  <span>No</span>
               </ion-buttons>
            </ion-item>
         </ion-list>
         <ion-list>
             <ion-item>
               <ion-label style="font-size:14px;">Property Name:</ion-label>
               <ion-buttons slot="end">
                  <span>No</span>
               </ion-buttons>
            </ion-item>
         </ion-list>
         <ion-list>
           <ion-item>
               <ion-label style="font-size:14px;">Description:  </ion-label>
               <ion-buttons slot="end">
                  <span>No</span>
               </ion-buttons>
            </ion-item>
         </ion-list>
         <ion-list>
             <ion-item>
               <ion-label style="font-size:14px;">City:</ion-label>
               <ion-buttons slot="end">
                  <span>No</span>
               </ion-buttons>
            </ion-item>
         </ion-list>
         <ion-list>
            <ion-item>
               <ion-label style="font-size:14px;">Type:</ion-label>
               <ion-buttons slot="end">
                  <span>No</span>
               </ion-buttons>
            </ion-item>
         </ion-list>
         <ion-list>
            <ion-item>
               <ion-label style="font-size:14px;">Floor Space:</ion-label>
               <ion-buttons slot="end">
                  <span>No</span>
               </ion-buttons>
            </ion-item>
         </ion-list>
         <ion-list>
             <ion-item>
               <ion-label style="font-size:14px;">Number of Balcony/Terrace:</ion-label>
               <ion-buttons slot="end">
                  <span>No</span>
               </ion-buttons>
            </ion-item>
         </ion-list>
         <ion-list>
              <ion-item>
               <ion-label style="font-size:14px;">Number of Bedroom:</ion-label>
               <ion-buttons slot="end">
                  <span>No</span>
               </ion-buttons>
            </ion-item>
         </ion-list>
         <ion-list>
            <ion-item>
               <ion-label style="font-size:14px;">Number of Bathroom:</ion-label>
               <ion-buttons slot="end">
                  <span>No</span>
               </ion-buttons>
            </ion-item>
         </ion-list>


         <ion-list>
           <ion-item>
               <ion-label style="font-size:14px;">Number of garages:</ion-label>
               <ion-buttons slot="end">
                  <span>No</span>
               </ion-buttons>
            </ion-item>
         </ion-list>


         <ion-list>
          <ion-item>
               <ion-label style="font-size:14px;">Number of parking space:</ion-label>
               <ion-buttons slot="end">
                  <span>No</span>
               </ion-buttons>
            </ion-item>
         </ion-list>
         <ion-list>
          <ion-item>
               <ion-label style="font-size:14px;">Pets allowed:</ion-label>
               <ion-buttons slot="end">
                  <span>No</span>
               </ion-buttons>
            </ion-item>
         </ion-list>
         <ion-list>
          <ion-item>
               <ion-label style="font-size:14px;">Posted On:</ion-label>
               <ion-buttons slot="end">
                  <span>No</span>
               </ion-buttons>
            </ion-item>
         </ion-list>
         <ion-list>
            <ion-item>
               <ion-label style="font-size:14px;">Posted By:</ion-label>
               <ion-buttons slot="end">
                  <span>No</span>
               </ion-buttons>
            </ion-item>
         </ion-list>
      
     </ion-card-content>
  </ion-card>
</ion-content>
