<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-buttons slot="end">
             <ion-back-button defaultHref="dashboard"></ion-back-button>
         </ion-buttons>  
        <ion-title>
            Group: {{nickname}}
        </ion-title>
    </ion-toolbar>
</ion-header> 

<ion-content padding>

  <ion-row>
    <ion-col>

        <button (click)="joinChat()" class="billList-class">Chatroom </button>
    </ion-col>
  </ion-row> 


  <ion-card>
   <ion-card-header>
      <ion-card-subtitle>Group members</ion-card-subtitle>
      <ion-card-title>Colivers <!-- <ion-card-subtitle>-Swipe left to see actions-</ion-card-subtitle>--></ion-card-title>
   </ion-card-header>
   <ion-card-content style="overflow: auto">
      <ion-list style="">
         <ion-item *ngFor="let user of userArr">   
            <ion-label  [routerLink]="['/user-application-detail']" [queryParams]="{teamId: teamId,userId:user.userId}" style="white-space: pre-wrap;">{{user?.login.username}}</ion-label>
            <ion-button  *ngIf="owner != userId && user.userId == owner"  type="button" class="secondary">Admin</ion-button>
           <!--  <ion-button *ngIf="owner == userId" type="button" slot="end" >Set Admin</ion-button> -->
         <ion-button (click)="removeUserApi(user.userId,'remove')" type="button" slot="end" *ngIf="owner == userId && user.userId != owner">Remove</ion-button>
           <ion-button (click)="removeUserApi(user.userId,'left')" type="button" slot="end" *ngIf="loggedInUsername ===user?.login.username">Leave the group</ion-button>
         </ion-item> 
      </ion-list>
   </ion-card-content>
</ion-card>


<ion-card>
   <ion-card-header>
      <ion-card-subtitle>Social sharing</ion-card-subtitle>
      <ion-card-title>Referral code</ion-card-title>
   </ion-card-header>
   <ion-card-content>
      <ion-list>
         <ion-item>
            <ion-label style="white-space: pre-wrap;">Share a link with potential candidates for your flatmates. You can copy the link and share it wherever you want. Once the link is clicked the candidate will be asked to fill-up the flatmate questionnaire and the answers will appear on the bottom of this page.
         </ion-label>
         </ion-item>
         <ion-item>
            <button shape="round" fill="outline" (click)="shareInfo()" class="button_team">Share </button>
            <button shape="round" fill="outline" (click)="copyText($event)" class="button_team">Copy</button> 
         </ion-item>
         <ion-item>
            <button shape="round" fill="outline" (click)="downloadPDF()" class="button_team">View group cv</button> 
         </ion-item>
      </ion-list>
   </ion-card-content>
</ion-card>

<ion-card>
   <ion-card-header>
      <ion-card-subtitle>Join group</ion-card-subtitle>
      <ion-card-title>Direct group code</ion-card-title>
   <ion-card-subtitle>Use this code to add a new coliver to this group. Keep in mind that this is direct code. Share it only with persons you know. </ion-card-subtitle>
   </ion-card-header>
   <ion-card-content>
      <ion-list>
         <ion-item>
            <ion-label style="white-space: pre-wrap;">{{teamId}}</ion-label>
         </ion-item> 
         <ion-item> 
           <button shape="round" fill="outline" (click)="joinGroupShare()" class="button_team">Share </button>
            <button shape="round" fill="outline" (click)="copyTextCode(teamId)" class="button_team">Copy</button> 
         </ion-item> 
      </ion-list>
   </ion-card-content>
</ion-card>

  <ion-row>
    <ion-col>
        <button [routerLink]="['/group-application']" [queryParams]="{teamId: teamId}" class="billList-class">New candidates to the group</button>
    </ion-col>
  </ion-row> 

  <ion-row>
    <ion-col>
        <button [routerLink]="['/flatemates']" [queryParams]="{teamId: teamId}" class="billList-class">Issues</button>
    </ion-col>
  </ion-row>
  
</ion-content>


